fastapi
uvicorn[standard]
pytest
sqlalchemy
psycopg2-binary
celery[redis]
redis
python-socketio
python-multipart
opencv-python-headless
torch
torchvision
facenet-pytorch
onnx
onnxruntime
pillow
numpy
passlib[bcrypt]
bcrypt==4.0.1
PyJWT
email-validator
python-dotenv
alembic
prometheus-fastapi-instrumentator

